/* ---------------------------------------------------------- */
/* font s =================================================== */
@font-face {
    font-family: 'NotoSans';
    font-weight: 300;
    font-style: normal;
    src: url("../font/NotoSansCJKkr-Light-Alphabetic.eot");
    src: url("../font/NotoSansCJKkr-Light-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKkr-Light-Alphabetic.woff2") format("woff2"), url("../font/NotoSansCJKkr-Light-Alphabetic.woff") format("woff"), url("../font/NotoSansCJKkr-Light-Alphabetic.ttf") format("truetype");
}

@font-face {
    font-family: 'NotoSans';
    font-weight: 400;
    font-style: normal;
    src: url("../font/NotoSansCJKkr-Regular-Alphabetic.eot");
    src: url("../font/NotoSansCJKkr-Regular-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKkr-Regular-Alphabetic.woff2") format("woff2"), url("../font/NotoSansCJKkr-Regular-Alphabetic.woff") format("woff"), url("../font/NotoSansCJKkr-Regular-Alphabetic.ttf") format("truetype");
}

@font-face {
    font-family: 'NotoSans';
    font-weight: 700;
    font-style: normal;
    src: url("../font/NotoSansCJKkr-Bold-Alphabetic.eot");
    src: url("../font/NotoSansCJKkr-Bold-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKkr-Bold-Alphabetic.woff2") format("woff2"), url("../font/NotoSansCJKkr-Bold-Alphabetic.woff") format("woff"), url("../font/NotoSansCJKkr-Bold-Alphabetic.ttf") format("truetype");
}

/*
@font-face {
  font-family: 'NotoSans';
  font-weight: $e;
  font-style: normal;
  src: url('../font/NotoSansKR-Black.woff2') format('woff2'),
  url('../font/NotoSansKR-Black.woff') format('woff');
}
*/
@font-face {
    font-family: 'NotoSerif';
    font-weight: 300;
    font-style: normal;
    src: url("../font/NotoSerifCJKkr-Light.woff") format("woff");
}

@font-face {
    font-family: 'NotoSerif';
    font-weight: 400;
    font-style: normal;
    src: url("../font/NotoSerifCJKkr-Regular.woff") format("woff");
}

@font-face {
    font-family: 'NotoSerif';
    font-weight: 700;
    font-style: normal;
    src: url("../font/NotoSerifCJKkr-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url("../font/Roboto-Light.eot");
    src: url("../font/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Light.woff2") format("woff2"), url("../font/Roboto-Light.woff") format("woff"), url("../font/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url("../font/Roboto-Regular.eot");
    src: url("../font/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url("../font/Roboto-Bold.eot");
    src: url("../font/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto-Bold.woff") format("woff"), url("../font/Roboto-Bold.ttf") format("truetype");
}

/* font e =================================================== */
/* ---------------------------------------------------------- */
/*# sourceMappingURL=../../common/css/font.css.map */

